#cadastro {
    margin: 0px 15%;
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
}
#cadastro h2 {
    text-align: center;
}
.img-dark-filter{
    filter: brightness(50%)
}
.novidades{
    text-align: center;
}
.novidades img{
    width: 100%;
    border-radius: 25px;
    border: 1px solid black;
    /*box-shadow: 2px 2px;*/
}

.btn-cardapio-home{
    font-size: 18px;
}
